/* HEADER */
.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

header {
    background-color: greenyellow;
    margin-left: 0;
    margin-right: 0;

}

.fuentes {
    font-size: 20px;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}








/* BOTONES DE FUENTE */
.fuentes li a:hover {
    background-color: black;
    border-radius: 15px;
    color: white;
}

.botonBtn {
    background-color: greenyellow;
    color: black;
    border-color: greenyellow;
}

.botonBtn:hover {
    background-color: black;
    color: greenyellow;
    border-color: black;
}

.botonBtndos {
    color: black;
    border-color: greenyellow;
}

.botonBtndos:hover {
    background-color: black;
    color: greenyellow;
    border-color: black;
}



/* CAROUSEL */

.carouselComponente {
    background-color: black;
}



