/* HEADER */
.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

header {
    background-color: greenyellow;
    margin-left: 0;
    margin-right: 0;

}



/* FUENTE */
body {
    font-family: 'Roboto', sans-serif;
}
.fuentes {
    font-size: 20px;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}








/* BOTONES DE FUENTE */
.fuentes li a:hover {
    background-color: black;
    border-radius: 15px;
    color: white;
}

.botonBtn {
    background-color: greenyellow;
    color: black;
    border-color: greenyellow;
}

.botonBtn:hover {
    background-color: black;
    color: greenyellow;
    border-color: black;
}

.botonBtndos {
    color: black;
    border-color: greenyellow;
}

.botonBtndos:hover {
    background-color: black;
    color: greenyellow;
    border-color: black;
}



/* CAROUSEL */
.carouselComponente {
    background-color: black;
}


/* no puedo acomodar la imagen */





/* CATEGORIA */

.generosContenedor {
    display: grid;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    
}





/* CONTACTO */

.formularioContacto {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    margin: 40px;
    align-items: center;
        
}

p a {
    color: black;
    
}